.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-container {
  background: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  position: relative;
}


.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-title h2 {
    font-size: 20px;
    font-weight: 500;
  margin: 0;
}

.login-title img {
  cursor: pointer;
  width: 20px; 
  height: 20px;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-inputs input {
  border: 2px solid gray; 
  background-color: #fff; 
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px; 
}

.login-inputs input:focus {
  border-color: #000; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  outline: none;
}

.login-inputs input:hover {
  border-color: #333; 
}


.login-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3; 
}


.login-condition {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-condition p {
  margin-left: 10px;
  font-size: 14px;
}

.login-condition input {
  margin-right: 10px;
}


p {
  font-size: 14px;
}

p span {
  color: #007bff;
  cursor: pointer;
}

p span:hover {
  text-decoration: underline; 
}
