.navbar{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}.navbar button{
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}